<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="./Style_Page.css">
    <title>Login Form</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../image/brown-cup-of-coffee-logo-on-transparent-background-free-png.webp" alt="">
        </div>
        <div class="register">
            <div class="form">
                <label for="username"><span>Username</span></label>
                <input type="text" id="username" placeholder="Enter username">
                <label for="email"><span>Email</span></label>
                <input type="text" id="email" placeholder="Enter email">
                <label for="password"><span>Password</span></label>
                <input type="text" id="password" placeholder="Enter password">
                <button>Login</button>
                <p>Or login with</p>
                <div class="icon">
                    <div class="facebook">
                        <i class="fab fa-facebook-square"><span>Facebook</span></i>
                     </div>
                     <div class="google">
                        <i class="fab fa-google-plus-square"><span>Google</span></i>
                     </div>
                </div>
                <div class="footer">
                    <span>Not a member?</span>
                    <nav>Signup now</nav>
                </div>
            </div>
        </div>
    </div>
    <script src="./Js_Pgae.js"></script>
</body>
</html>