<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Style_Table.css">
    <title>Table Selection</title>
</head>
    <div class="container">
        <div class="grid">
            <div class="item" onclick="myFunction()"><span>01</span></div>
            <div class="item" onclick="myFunction1()"><span>02</span></div>
            <div class="item" onclick="myFunction2()"><span>03</span></div>  
            <div class="item" onclick="myFunction3()"><span>04</span></div>
            <div class="item" onclick="myFunction4()"><span>05</span></div>
            <div class="item" onclick="myFunction5()"><span>06</span></div>
            <div class="item" onclick="myFunction6()"><span>07</span></div>
            <div class="item" onclick="myFunction7()"><span>08</span></div>
            <div class="item" onclick="myFunction8()"><span>09</span></div>
            <div class="item" onclick="myFunction9()"><span>10</span></div>
            <div class="item" onclick="myFunction10()"><span>11</span></div>  
            <div class="item" onclick="myFunction11()"><span>12</span></div>
            <div class="item" onclick="myFunction12()"><span>13</span></div>
            <div class="item14" onclick="myFunction13()"><span>14</span></div>
            <div class="item15" onclick="myFunction14()"><span>15</span></div>
            <div class="item16" onclick="myFunction15()"><span>16</span></div>
            <div class="item17" onclick="myFunction16()"><span>17</span></div>
            <div class="item18" onclick="myFunction17()"><span>18</span></div>
            <div class="item19" onclick="myFunction18()"><span>19</span></div>
            <div class="item20" onclick="myFunction19()"><span>20</span></div>
            <div class="item21" onclick="myFunction20()"><span>21</span></div>
            <div class="item22" onclick="myFunction21()"><span>22</span></div>
            <div class="item23" onclick="myFunction22()"><span>23</span></div>
            <div class="item24" onclick="myFunction23()"><span>24</span></div>
            <div class="item25" onclick="myFunction24()"><span>25</span></div>
        </div>
        <div class="content">
            <div class="detail1" hidden >
                <h2>Table Information</h2>
                <p>Table: 01</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div>
            <div class="detail2" hidden >
                <h2>Table Information</h2>
                <p>Table: 02</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail3" hidden >
                <h2>Table Information</h2>
                <p>Table: 03</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail4" hidden >
                <h2>Table Information</h2>
                <p>Table: 04</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail5" hidden >
                <h2>Table Information</h2>
                <p>Table: 05</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail6" hidden >
                <h2>Table Information</h2>
                <p>Table: 06</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail7" hidden >
                <h2>Table Information</h2>
                <p>Table: 07</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail8" hidden >
                <h2>Table Information</h2>
                <p>Table: 08</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail9" hidden >
                <h2>Table Information</h2>
                <p>Table: 09</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail10" hidden >
                <h2>Table Information</h2>
                <p>Table: 10</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail11" hidden >
                <h2>Table Information</h2>
                <p>Table: 11</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail12" hidden >
                <h2>Table Information</h2>
                <p>Table: 12</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail13" hidden >
                <h2>Table Information</h2>
                <p>Table: 13</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail14" hidden >
                <h2>Table Information</h2>
                <p>Table: 14</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail15" hidden >
                <h2>Table Information</h2>
                <p>Table: 15</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail16" hidden >
                <h2>Table Information</h2>
                <p>Table: 16</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail17" hidden >
                <h2>Table Information</h2>
                <p>Table: 17</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail18" hidden >
                <h2>Table Information</h2>
                <p>Table: 18</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail19" hidden >
                <h2>Table Information</h2>
                <p>Table: 19</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail20" hidden >
                <h2>Table Information</h2>
                <p>Table: 20</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail21" hidden >
                <h2>Table Information</h2>
                <p>Table: 21</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail22" hidden >
                <h2>Table Information</h2>
                <p>Table: 22</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail23" hidden >
                <h2>Table Information</h2>
                <p>Table: 23</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail24" hidden >
                <h2>Table Information</h2>
                <p>Table: 24</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div> <div class="detail25" hidden >
                <h2>Table Information</h2>
                <p>Table: 25</p>
                <p>Status: anvailable/busy/unpaid</p>
                <p>Orders: Ice americano (Rx1)</p>
            </div>
        </div>
    </div>
    <script src="./Js_Table.js"></script>
</body>
</html>